body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #16a34a;
}

p {
    margin-top: 10px;
    font-size: 14px;
}
